body {
	background-color: black;
	margin: 0;
}

#home {
	text-decoration: none;
	list-style-type: none;
	
}



#First {
  background: #333;
  color: #fff;
  margin: 10px;
  padding: 20px;
}

#First {
  background: #333;
  color: #fff;
  margin: 10px;
  padding: 20px;
}

#Second {
  background: #333;
  color: #fff;
  margin: 10px;
  padding: 20px;
}


